/* galeria de imagens para noticias */
.lista-img {
  gap: 20px;
  display: grid;
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 1.5rem;
  grid-template-columns: auto 300px;
}

.alinhar0 {
  height: 350px;
  display: flex;
  align-items: end;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(../../IMG/0-a-10/02.png);
  box-shadow: inset 0 -50px 80px 0 var(--dark);
}

.alinhar0::after {
  content: 'Novo';
  display: block;
  height: 18px;
  width: 50px;
  padding: .2rem 1rem;
  font-weight: 400;
  font-size: .9rem;
  text-align: center;
  color: var(--white);
  font-family: var(--deca);
  background: var(--purple);
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 32px;
}

.btnImage0 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1rem 2rem;
}

.liBloco {
  gap: 20px 0;
  display: grid;
  align-items: end;
  grid-template-rows: 1fr 1fr;
}

.liBloco div {
  height: 100%;
  display: flex;
  align-items: end;
  padding: .6rem 1rem;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -40px 40px 0 var(--dark);
  position: relative;
}

.liBloco div::after {
  content: 'Novo';
  display: block;
  height: 15px;
  width: 60px;
  padding: .2rem 1rem;
  font-weight: 400;
  font-size: .9rem;
  text-align: center;
  color: var(--white);
  font-family: var(--deca);
  background: var(--purple);
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 16px;
}

.blocoDiv0 {
  background-image: url(../../IMG/0-a-10/01.png);
}

.blocoDiv1 {
  background-image: url(../../IMG/0-a-10/07.png);
}

@media (max-width: 800px) {
  .lista-img {
    grid-template-columns: auto;
  }

  .btnImage0 {
    margin: 1rem;
    line-height: 1.5rem;
  }

  .liBloco {
    display: none;
  }
}

@media (max-width: 600px) {
  .btnImage0 {
    font-size: 1rem;
    margin: 1rem;
    line-height: 1.5rem;
  }
}