/* cabeçalho padrão das pag */
#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

#acessos {
  display: flex;
  align-items: center;
  column-gap: 60px;
  position: relative;
}

#lista-btn {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

#lista-btn li a {
  padding: 1rem 0;
}

#lista-btn li a:hover {
  text-decoration: none;
}

.ativadoBtn {
  font-family: var(--inter);
  color: var(--white-100);
  display: block;
  position: relative;
}

.ativadoBtn:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--purple);
  position: absolute;
  bottom: 5px;
}

/* botão para mobile */
#btn-mobile {
  display: none;
}

.btn-conta {
  font-family: var(--deca);
  border: solid 1px var(--purple);
  color: var(--white);
  font-size: .9rem;
  font-weight: 400;
  cursor: pointer;
  transition: .3s;
  background: transparent;
  padding: .5rem 1.3rem;
  border-radius: 35px;
}

.btn-conta:hover {
  border: solid 1px var(--purple-200);
  color: var(--white-200);
}

@media (max-width: 800px) {

  /* escondendo */
  .btn-conta,
  .ativadoBtn:after,
  #lista-btn {
    display: none;
  }

  #btn-mobile {
    display: flex;
    height: 26px;
    background: none;
    border: none;
    cursor: pointer;
  }

  #acessos.ativado #lista-btn {
    display: grid;
    gap: 10px;
    background: var(--dark);
    border: solid 2px var(--purple);
    padding: .5rem;
    position: absolute;
    right: -2px;
    top: 50px;
    width: 200px;
    z-index: 5;
  }

  #acessos.ativado #lista-btn li {
    text-align: end;
    border: double 1px var(--purple);
    padding-right: 10px;
  }

  /* efeito hamburguer */
  .linha {
    display: block;
    height: 2px;
    width: 26px;
    background: var(--white-100);
    position: relative;
  }

  .linha::before,
  .linha::after {
    content: '';
    display: block;
    height: 2px;
    width: 26px;
    background: var(--white);
    position: absolute;
  }

  .linha::before {
    top: 10px;
  }

  .linha::after {
    margin-top: 20px;
  }

  #acessos.ativado .linha {
    background: transparent;
  }

  #acessos.ativado .linha::after {
    transform: rotate(45deg);
    top: -10px;
  }

  #acessos.ativado .linha::before {
    transform: rotate(-45deg);
  }
}