/* cabeçalho padãro das pag */
#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

#acessos {
  display: flex;
  align-items: center;
  column-gap: 60px;
  position: relative;
}

#lista-btn {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.desativadoBtn {
  font-family: var(--inter);
  color: var(--white-200);
  display: block;
  padding: .7rem 0;
  position: relative;
}

.ativadoBtn {
  color: var(--white-100);
  font-family: var(--inter);
  display: block;
  padding: .7rem 0;
  position: relative;
}

.ativadoBtn:hover,
.desativadoBtn:hover {
  text-decoration: none;
}

.ativadoBtn:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--purple);
  position: absolute;
  bottom: 0;
}

/* botão para mobile */
#btn-mobile {
  display: none;
}

.btn-conta {
  font-family: var(--deca);
  border: solid 1px var(--purple);
  color: var(--white);
  font-size: .9rem;
  font-weight: 400;
  cursor: pointer;
  transition: .3s;
  background: transparent;
  padding: .5rem 1.3rem;
  border-radius: 35px;
}

.btn-conta:hover {
  border: solid 1px var(--purple-200);
  color: var(--white-200);
}

@media (max-width: 800px) {
  .btn-conta {
    display: none;
  }

  #btn-mobile {
    display: flex;
    height: 26px;
    background: none;
    border: none;
    cursor: pointer;
  }

  #lista-btn {
    display: none;
  }

  .linha {
    display: block;
    height: 2px;
    width: 26px;
    background: var(--white-100);
    position: relative;
  }

  .linha::before,
  .linha::after {
    content: '';
    display: block;
    height: 2px;
    width: 26px;
    background: var(--white);
    position: absolute;
  }

  .linha::before {
    top: 10px;
  }

  .linha::after {
    margin-top: 20px;
  }

  /* remover traço purple */
  .ativadoBtn:after {
    display: none;
  }

  #acessos.ativado #lista-btn {
    display: grid;
    gap: 10px;
    background: var(--dark);
    position: absolute;
    right: -2px;
    top: 50px;
    width: 200px;
    z-index: 3;
  }

  #acessos.ativado #lista-btn li {
    text-align: end;
    border: double 1px var(--purple);
    padding-right: 10px;
  }
  /* rotacionando hamburguer para X */
  
}

/* @media (max-width: 600px) {} */